<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <table class="table">
        <thead>
         <tr>
             <td>StudentId</td>
             <td>StudentName</td>
             <td>Majority</td>
         </tr>
        <tr th:each="student: ${students}">
            <td th:text="${{student.id}}"></td>
            <td th:text="${{student.name}}"></td>
            <td th:text="${{student.major}}"></td>
        </tr>
        </thead>
    </table>
    <div>
        <form action="#" th:action="@{/student/add}" th:object="${student}" method="post">
            <label>id</label><span><input name="id"/></span>
            <label>nama</label><span><input name="nama"/></span>
            <label>major</label><span><input name="major"/></span>
            <button type="submit">tambah</button>
        </form>
    </div>
</body>
</html>