<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css"
          href="http://localhost:8080/webjars/bootstrap/5.2.0/css/bootstrap.min.css"
          th:href="@{http://localhost:8080/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"
    />
</head>
<body>
    <h1 class="text-center">login</h1>
    <div class="bg-info">test</div>
    <div class="bg-primary">test</div>
</body>
</html>